.groups-card.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 29%;
    height:90%;
    max-height: 140px;
    margin-right: 1%;
    border-radius: 10px;
}

.groups-card.about {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(117,117,117);
    margin-top: 3%;
}

.events-groups-toggle-main-container {
    display:flex;
    justify-content: center;
}

.all-events-groups-cards-toggle-container {
    display: flex;
    min-width: 600px;
    max-width: 900px;
    width: 60%;
    border-bottom: 1px solid rgb(230,230,230);
}

.all-events-groups-cards-toggle{
    margin-right: 1%;
}

.all-events-groups-cards-toggle.inactive {
    color: rgb(117,117,117);
}

.all-events-groups-cards-toggle.active {
    color: rgb(0,152,171);
    border-bottom: 3px solid rgb(0,152,171);
}

.all-events-groups-cards-toggle.inactive:hover {
    cursor: pointer;
    color: rgb(230,230,230);
}

.groups-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.groups-card.container {
    position: relative;
    display: flex;
    align-items: center;
    border-top: solid 1px rgb(230,230,230);
    min-width: 600px;
    max-width: 900px;
    width:60%;
    min-height: 150px;
    padding: 5px 10px;
    animation: slideInLeft 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.groups-card.container:hover {
    cursor: pointer;
}


.groups-card.info-container {
    width: 68%;
    margin-right: 2%;
}

.groups-card.title {
    margin: 1% 0%;
}

.groups-card.location {
    color: rgb(135,116,125);
    margin-top: 1%;
}


.groups-card.members {
    color: rgb(117,117,117);
    margin-top: 3%;
}
