

ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(209, 76, 76);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(222, 222, 222);
    color: rgb(213, 68, 68);
}

label {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 0px;
    border-radius: 6px;
    background-color: rgb(222, 222, 222);
    color: rgb(213, 68, 68);
}

button {
    padding: 4px 0px;
    border: 1px solid rgb(151, 55, 55);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    color: rgb(213, 68, 68);
}
