

.events-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.events-card.container {
    display: flex;
    border-top: solid 1px rgb(230,230,230);
    min-width: 600px;
    max-width: 900px;
    width: 60%;
    min-height: 150px;
    padding: 5px 10px;
}

.events-card.container.details {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 150px
}

.events-card.container:hover {
    cursor: pointer;
}

.events-card.image-container {
    width: 29%;
    height:70%;
    max-height: 120px;
    object-fit: cover;
    margin-right: 1%;
    border-radius: 10px;
}

.events-card.info-container {
    width: 68%;
    margin-right: 2%;
}

.events-card.title {
    margin: 1% 0%;
}

.events-card.location {
    color: rgb(135,116,125);
    margin-top: 1%;
}

.events-card.start-date {
    color: rgb(117,117,117);

    margin-top: 3%;
}

.events-card.members {
    color: rgb(117,117,117);
    margin-top: 3%;
}
