/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.main-page-body {
    min-width: 600px;
    min-height: 80vh;
}

body {
    font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.95em;
}

button {
    font-family:  Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* custom scrollbar */
*::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color:#8c9caa;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}
